body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

html {
  background: #ccc;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #6c6cff;
}

form#login {
  display: block;
  background: #fff;
  width: 245px;
  float: right;
}

form#login input,
form#login label {
  display: block;
}

form#login label {
  font-size: 11px;
  color: #666;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

form#login input[type="email"],
form#login input[type="text"],
form#login input[type="password"] {
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #999;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 3px 5px;
  width: 230px;
}

form#login button[type="submit"] {
  width: 100px;
}

form#login span.error {
  display: block;
  color: red;
  font-size: 0.8em;
  padding-top: 20px;
}

div#header {
  width: 840px;
  margin: 15px auto 0 auto;
  overflow: hidden;
}

div#header h1 {
  text-align: left;
  float: right;
  width: 264px;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  padding: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
}

div#header ul#nav {
  list-style: none;
  margin: 0 auto;;
  padding: 0;
  background: #fff;
  font-size: 0.8em;
  margin-left: 20px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  float: left;
}

div#header ul#nav li {
  float: right;
  padding: 4px;
  border-left: 1px solid #ccc;
}

div#footer {
  margin: 30px 0;
  font-size: 11px;
  text-align: center;
  color: #fff;
}

div#content {
  width: 800px;
  border: 1px solid #ccc;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: none;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: hidden;
}

input#user_search {
  font-size: 1.2em;
  border: 1px solid #999;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 3px 5px;
  width: 250px;
  outline: none;
  margin-left: 10px;
}

input#user_search.empty {
  color: #bbb;
}

div#log {
  float: right;
  width: 243px;
}

div#log input[type="text"] {
  width: 170px;
  border: 1px solid #999;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 3px 5px;
  outline: none;
}

div#log button {
  width: 54px;
  float: right;
  margin-top: 2px;
  background: #000;
  color: #fff;
}

div#log ul#messages {
  height: 270px;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0;
  background: #eee;
  overflow: auto;
  list-style: none;
  font-size: 11px;
}

div#log ul#messages li.status {
  color: #fff;
  text-align: right;
  background: #bbb;
  border-bottom: 1px solid #fff;
}

li.dialog span.sender {
  font-weight: bold;
}

li.dialog span.sender:after {
  content: ": ";
}

div#log ul#messages li {
  padding: 3px 4px;
}

table#game_info {
  float: right;
  width: 245px;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: #999;
}

table#game_info tr.active td {
  color: #000;
}

table#game_info tr td#letters_left {
  color: #000;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
}

table#game_info tr td.score {
  background: #5C7C4C;
  font-family: monospace;
  color: #fff;
  text-align: right;
  font-size: 1.4em;
  width: 70px;
  padding-right: 5px;
  padding-left: 0px;
  border: 2px solid #97AA89;
  border-top: 2px solid #344825;
  border-left: 2px solid #344825;
}

table#game_info tr td {
  font-weight: bold;
  padding-left: 5px;
}

table#board {
  background: #eee;
  float: left;
  border: 1px solid #ccc;
}

table#board td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 31px;
  height: 31px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

table#board td.hover {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
}

table#board td.empty.wordX3 {
  background: #e98a4c;
}

table#board td.empty.wordX2 {
  background: #f1adab;
}

table#board td.empty.letterX2 {
  background: #b5d1fa;
}

table#board td.empty.letterX3 {
  background: #344d84;
}

table#board td.empty.center {
  background: #e12e29;
}

table#board td span.multiplier {
  display: block;
  color: #fff;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  opacity: 0.7;
}

table#tray {
  float: right;
  margin: 10px 0 15px 0;
}


table#tray td {
  width: 30px;
  height: 30px;
}

table#board td div.piece:hover {
  cursor: default;
}

div.piece {
  width: 27px;
  height: 24px;
  border: 2px solid #ccc;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  text-align: center;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 3px;
  background: #eee;
  font-weight: bold;
  z-index: 400;
}

table#tray div.piece.trade {
  border: 2px solid #b96160;
  border-bottom: 2px solid #9c0200;
  border-right: 2px solid #9c0200;
}

table#tray div.piece.active {
  -webkit-box-shadow: 5px 10px 5px rgba(0,0,0,0.5);
  z-index: 900;
}

table#tray div.piece {
  background: #fff;
}
table#tray div.piece:hover {
  cursor: move;
}
table#tray.trading div.piece:hover {
  cursor: pointer;
}

div.piece span.letter_score {
  position: absolute;
  bottom: 0px;
  right: 1px;
  color: #666;
  text-align: right;
  font-size: 8px;
  line-height: 8px;
  font-weight: normal;
}

button {
  color: #fff;
  background: #000;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  border: none;
  font-size: 9px;
  padding: 5px 10px;
}

div#controls {
  float: right;
  width: 241px;
}

div#controls button {
  float: left;
  margin-right: 3px;
  font-size: 8px;
}

div#controls button#submit {
  width: 100%;
  margin-left: 0;
  margin: 5px 0 10px 0;
  font-size: 9px;
}

div#controls button#cancel_trade,
div#controls button#finish_trade {
  float: right;
}

button#submit[disabled] {
  display: block;
  visibility: hidden;
}

button:hover {
  text-shadow: 0px 0px 5px #fff;
}

button[disabled] {
  display: none;
}

div#dialog {
  display: none;
  z-index: 999;
  position: absolute;
  left: 172px;
  top: 70px;
  width: 200px;
  background: #fff;
  border: 3px solid #ccc;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

div#dialog p {
  margin: 10px;
  text-align: center;
}
div#dialog button {
  margin: 10px auto;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

div.games {
  margin-bottom: 30px;
}
div.games ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

div.games li {
  margin: 5px 10px 10px 10px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

div.games li.active {
  font-weight: bold;
}

div.games li.active span.email,
div.games span.email {
  font-weight: normal;
  color: #666;
  text-decoration: none;
  font-size: 11px;
}

p#create_game {
  background: #999;
  text-align: center;
  color: #fff;
  padding: 20px 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 30px;
}
p.error {
  text-align: center;
  color: #b96160;
  margin-bottom: 30px;
}
p.error a {
  font-weight: bold;
  color: #b96160;
  border-bottom: 1px solid #b96160;
}

div.description {
  margin-right: 300px;
}
div.description div.desc_img {
  background: url("/static/img/ll5.jpg") -300px -100px;
  height: 375px;
  position: relative;
}
div.description div.desc_img p {
  font-size: 18px;
  line-height: 24px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px;
}
div.description div.desc_img p.bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  font-size: 12px;
}
div.description em {
  font-weight: bold;
}
