? my ($app, $board) = @_;

<table id="board" cellspacing="2" cellpadding="0" border="0">
  <? for my $y (0 .. @{ $board->grid } - 1) { ?>
  <tr>
    <? for my $x (0 .. @{ $board->grid->[$y] } - 1) { ?>
    <? my $letter = $board->grid->[$y][$x]; ?>
    <? my $letter_multi = letter_multiplier($y, $x); ?>
    <? my $word_multi = word_multiplier($y, $x); ?>
    <? my $center = ($x == 7 and $y == 7); ?>
    <td class="<?= $center ? "center " : "" ?>letterX<?= $letter_multi ?> wordX<?= $word_multi ?><?= $letter ? "" : " empty" ?>">
      <? if ($letter) { ?>
      <div class="piece">
        <?= $letter ?>
        <span class="letter_score"><?= letter_score($letter) ?></span>
      </div>
      <? } else { ?>
        <span class="multiplier">
          <? if ($letter_multi == 2) { ?>
            double letter
          <? } elsif ($letter_multi == 3) { ?>
            tripple letter
          <? } elsif ($word_multi == 2) { ?>
            double word
          <? } elsif ($word_multi == 3) { ?>
            tripple word
          <? } elsif ($center) {?>
            start here
          <? } ?>
        </span>
      <? } ?>
    </td>
    <? } ?>
  </tr>
  <? } ?>
</table>

