? my ($app, $user, $game, $board) = @_;
? my @letters = $game->player_letters($user);

<?= $_mt->render_file("game_info.html", $app, $user, $game) ?>
<?= $_mt->render_file("board.html", $app, $board) ?>

<div id="dialog">
  <p id="dialogmsg"></p>
  <button>Close</button>
</div>

<div id="log">
  <form method="post" id="log_input">
    <input id="message" type="text" name="message" value="" />
    <button type="submit">Say</button>
  </form>
  <ul id="messages">
  <?= $_mt->render_file("messages.html", $app, $game->messages) ?>
  </ul>
</div>

<table id="tray">
  <tr>
  <?
  <? for my $index (0 .. @letters - 1) { ?>
  <? my $letter = $letters[$index]; ?>
    <td>
  <div class="piece">
    <?= $letter ?>
    <input type="hidden" name="letter" value="<?= $letter ?>" />
    <span class="letter_score"><?= letter_score($letter) ?>
  </div>
</td>
  <? } ?>
</tr>
</table>

? my $active = $game->is_current_player($user);
<div id="controls">
  <button id="recall">Recall</button>
  <button id="trade"<?= $active ? "" : " disabled"?>>Trade</button>
  <button id="pass"<?= $active ? "" : " disabled"?>>Pass</button>
  <button id="submit"<?= $active ? "" : " disabled"?>>Submit Letters</button>
  <button id="finish_trade" disabled>Complete</button>
  <button id="cancel_trade" disabled>Cancel</button>
</div>

<script type="text/javascript">
  document.observe("dom:loaded", function () {
    Object.extend(Game, {letter_scores: <?= $board->json_letter_scores ?>});
    var game = new Game(<?= $game->id ?>, <?= time ?>, <?= $active ? 1 : 0 ?>);
  });
</script>
