? my ($app, $user, $games, $baduser, $invited) = @_;

<script type="text/javascript">
  document.observe("dom:loaded", function () {
    var input = $('user_search');
    input.observe("focus", function (event) {
      if (input.value == "email address") {
        input.value = "";
        input.removeClassName("empty");
      }
    });
    input.observe("blur", function (event) {
      if (input.value == "") {
        input.value = "email address";
        input.addClassName("empty");
      }
    });
    new Ajax.PeriodicalUpdater("games", "/games/state", {frequency: 60});
  });
</script>
<form action="/new" method="post">
  <p id="create_game">Create a new game with
  <input type="email" name="opponent" id="user_search" class="empty" value="email address" autocomplete="off" />
  </p>
</form>

? if ($baduser) {
  <p class="error"><?= $baduser ?> is not registered,
    <a href="/invite?email=<?= $baduser ?>">click here to send an invite</a>
  </p>
? }

? if ($invited) {
  <p class="error"><?= $invited ?> has been invited.</p>
? }

<div id="games">
?= $_mt->render_file("game_lists.html", $app, $games, $user);
</div>
