? my ($app, $user, $games, $baduser) = @_;
? my @completed;

<script type="text/javascript">
  document.observe("dom:loaded", function () {
    var input = $('user_search');
    input.observe("focus", function (event) {
      if (input.value == "email address") {
        input.value = "";
        input.removeClassName("empty");
      }
    });
    input.observe("blur", function (event) {
      if (input.value == "") {
        input.value = "email address";
        input.addClassName("empty");
      }
    });
  });
</script>
<form action="/new" method="post">
  <p id="create_game">Create a new game with
  <input type="email" name="opponent" id="user_search" class="empty" value="email address" autocomplete="off" />
  </p>
</form>

? if ($baduser) {
  <p class="error">That email address is not registered, tell them to register and then try again.</p>
? }

<div class="games">
<h2>Active Games</h2>
<ul>
? while (my $game = $games->next) {
? if ($game->completed) {
?   push @completed, $game;
?   next;
? }
<li<? if ($game->is_current_player($user)) { ?> class="active"<? } ?>>
  <a href="/game/<?= $game->id ?>">
    <?= $game->opponent($user)->display_name ?><br>
    <span class="email"><?= $game->opponent($user)->email ?></span>
  </a>
</li>
? }
</ul>
</div>

<div class="games">
<h2>Completed Games</h2>
<ul>
? for my $game (@completed) {
<li>
<a href="/game/<?= $game->id ?>">
    <?= $game->opponent($user)->display_name ?><br>
    <span class="email"><?= $game->opponent($user)->email ?></span>
  </a>
</li>
? }
</ul>
</div>
