? my ($app, $user, $game, $board) = @_;
? my @letters = $game->player_letters($user);
? my $active = $game->active_player;

<table id="game_info">
  <tr<? if ($active == 1) { ?> class="active"<? } ?>>
    <td><?= $game->p1_score ?></td>
    <td><?= $game->p1->display_name ?></td>
  </tr>
  <tr<? if ($active == 2) { ?> class="active"<? } ?>>
    <td><?= $game->p2_score ?></td>
    <td><?= $game->p2->display_name ?></td>
  </tr>
</table>

<?= $_mt->render_file("board.html", $app, $board) ?>

<div id="dialog">
  <p id="dialogmsg"></p>
  <button>Close</button>
</div>

<div id="log">
  <form method="post" id="log_input">
    <input id="message" type="text" name="message" value="" />
    <button type="submit">Say</button>
  </form>
  <?= $_mt->render_file("messages.html", $app, $game->messages) ?>
</div>

<table id="tray">
  <tr>
  <?
  <? for my $index (0 .. @letters - 1) { ?>
  <? my $letter = $letters[$index]; ?>
    <td>
  <div class="piece">
    <?= $letter ?>
    <input type="hidden" name="letter" value="<?= $letter ?>" />
    <span class="letter_score"><?= letter_score($letter) ?>
  </div>
</td>
  <? } ?>
</tr>
</table>

<button id="submit"<? if ($user->id != $active) { ?> disabled="disabled"<? }?>>Submit Letters</button>

<script type="text/javascript">
  document.observe("dom:loaded", function () {
    Object.extend(Game, {letter_scores: <?= $board->json_letter_scores ?>});
    var game = new Game(<?= $game->id ?>, <?= $game->last_update ?>);
  });
</script>
