? my ($app, $user, $game, $board) = @_;
? my $active = $game->active_player;

<table id="game_info" cellspacing="0">
  <tr class="<?= $active == 1 ? "active" : "" ?> <?= $game->p1->id == $user->id ? "self" : "" ?>">
    <td class="score"><?= $game->p1_score ?></td>
    <td><?= $game->p1->display_name ?></td>
  </tr>
  <tr class="separator">
    <td colspan="2">
    </td>
  </tr>
  <tr class="<?= $active == 2 ? "active" : "" ?> <?= $game->p2->id == $user->id ? "self" : "" ?>">
    <td class="score"><?= $game->p2_score ?></td>
    <td><?= $game->p2->display_name ?></td>
  </tr>
  <tr>
    <td></td>
    <td id="letters_left">
      <? if ($game->completed) { ?>
      Game over, man.
      <? } else { ?>
      <?= $board->letters_left ?> letters left
      <? } ?>
    </td>
  </tr>
</table>

