? my ($app, $parameters, $error) = @_;

<script type="text/javascript">
  document.observe("dom:loaded", function () {
    var submit = function (event) {
      if (event.keyCode == Event.KEY_RETURN) {
        $('login').submit();
      }
    };
    $('email').observe("keypress", submit);
    $('password').observe("keypress", submit);
  });
</script>
<form action="/login" method="post" id="login">
  <h2>Login</h2>
  <label for="email">Email Address</label>
  <input type="email" name="email" value="<?= $parameters->{email} || "" ?>" id="email" />

  <label for="password">Password</label>
  <input type="password" name="password" value ="" id="password" />

  <button type="submit">Log in</button>

  <? if ($error) { ?>
    <span class="error"><?= $error ?></span>
  <? } ?>
</form>
<?= $_mt->render_file("description.html", $app) ?>
