? my ($app, $parameters, $errors) = @_;

<script type="text/javascript">
  document.observe("dom:loaded", function () {
    var submit = function (event) {
      if (event.keyCode == Event.KEY_RETURN) {
        $('login').submit();
      }
    };
    $('email').observe("keypress", submit);
    $('display_name').observe("keypress", submit);
    $('password').observe("keypress", submit);
  });
</script>

<form action="/register" method="post" id="login">
  <label for="email">Email Address</label>
  <input type="email" name="email" value="<?= $parameters->{email} || "" ?>" id="email" />

  <label for="display_name">Display Name</label>
  <input type="text" name="display_name" value="<?= $parameters->{display_name} || "" ?>" id="display_name" />

  <label for="password">Password</label>
  <input type="password" name="password" value ="" id="password" />

  <button type="submit">Register</button>

  <? if (@$errors) { ?>
    <? for my $error (@$errors) { ?>
    <span class="error"><?= $error ?></span>
    <? } ?>
  <? } ?>
</form>
